
.filter_css{
    padding: 20px;
    
}
.categories{
    margin-bottom: 20px;
}
.categories h2{
    font-weight: 500;
}
.categories p{
    font-size: 16px;
}
.tabs{
    display: flex;
    gap: 22px;
    padding: 2 5px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
  }

.tab_card{
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    align-items: center;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    /* margin: 0 10px; */
    border-radius: 7.5px;
    /* border: 1px solid #fff; */
  }
  .tab_card:hover{
    border: 1px solid #FF9F43;
  }

  .img-css {
    width: 65px;
    height: 65px;
  }

  /* scroll btn */

  .scroll_button {
    margin-bottom: 5px;
    text-align: right;
  }

  .scroll_button > button {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    padding: 6px 0;
    cursor: pointer;
  }
  
  .scroll_button > button:hover {
    background-color: rgb(220, 221, 225);
  }
  .l-arrow {
    font-size: 18px;
    margin-right: 4px;
  }
  
  .r-arrow {
    font-size: 18px;
    margin-left: 4px;
  }
  .tabs_items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    margin-top: 20px;
  }

  .product_card{
width: 23.5%;
background-color: #fff;
border-radius: 7px;
text-align: center;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
overflow: hidden;
transition: transform 0.3s ease-in-out;
  }
  .product_card:hover .product_img {
    transform: scale(1.2); /* Adjust the scale factor for zoom level */
}

.image_container{
  width: 100%;
  height: 230px;
  overflow: hidden;
}
  .product_card .product_img{
    width: 100%;
    height: 100%;
    object-fit: cover;    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: transform 0.3s ease-in-out;
  }
  .product_card .icon_css{
    color: #FF9F43;
 margin-left: -203px;
  
   }

.product_added{
  border: 1px solid #FF9F43;
}

  .active{
    background-color: rgb(108, 92, 231);
    color: #fff;
  }
.qty_btn_css{
  border: none;
  width: 25px;
  height: 25px;
  background-color: lightgrey;
  border-radius: 15px;
  font-size: 15px;
}

.qty_btn_css:hover{
  background-color: #FF9F43;
  color:white;
}

.add_to_cart{
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  background-color:rgb(223, 230, 233);
  color: #FF9F43;
  width: 50px;
  height: 50px;
 border-radius: 25px;
}
.add_to_cart:hover{
  background-color: #FF9F43;
  color: #fff;
}
  /* responsiveness  */
  @media screen and (max-width: 1280px){
    .product_card{   width: 30%;  }
    .tabs_items{ justify-content: space-between; }
    .tab_card{     width: 150px; height: 150px;}
      .img-css {     width: 100px;  height: 100px;}
      
  }
  @media screen and (max-width: 1000px) {
    .product_card{   width: 47.5%;  }
    .product_card img{   height: 250px; }
    .tabs_items{ justify-content: center; }
    .tab_card{     width: 150px; height: 150px;}
      .img-css {     width: 100px;  height: 100px;}
      
    }
@media screen and (max-width: 550px) {
    .product_card{   width: 80%;  }
    .product_card img{   height: 260px; }
    .tab_card{     width: 5; height: 180px;}
      .img-css {     width: 140px;  height: 140px;}    
}

@media screen and (max-width: 350px) {
    .product_card{   width: 95%;  }
    .product_card img{   height: 230px; }
    .tab_card{     width: 110px; height: 110px;}
      .img-css {     width: 80px;  height: 80px;} 
}