
.filter_css{
    padding: 20px;
    
}
.categories{
    margin-bottom: 20px;
}
.categories h2{
    font-weight: 500;
}
.categories p{
    font-size: 16px;
}
.tabs{
    display: flex;
    gap: 22px;
    padding: 10px 5px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
  }

.tab_card{
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    /* margin: 0 10px; */
    border-radius: 7.5px;
  }

  .img-css {
    width: 65px;
    height: 65px;
  }

  /* scroll btn */

  .scroll_button {
    margin-bottom: 5px;
    text-align: right;
  }

  .scroll_button > button {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    padding: 6px 0;
    cursor: pointer;
  }
  
  .scroll_button > button:hover {
    background-color: rgb(220, 221, 225);
  }
  .l-arrow {
    font-size: 18px;
    margin-right: 4px;
  }
  
  .r-arrow {
    font-size: 18px;
    margin-left: 4px;
  }
  .tabs_items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    margin-top: 20px;
  }

  .product_card{
width: 23.5%;
background-color: #fff;
border-radius: 7px;
text-align: center;
  }
  .product_card img{
    width: 100%;
    height: 230px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 15px;
  }

  .active{
    background-color: rgb(87, 75, 144);
    color: #fff;
  }