.header_css {
  background-color: white;
  padding: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 65px;
  /* border-top:.1px solid rgb(223, 230, 233) ; */
  border-bottom: 1px solid rgb(223, 230, 233);
}

.logo-section {
  border-right: 1px solid rgb(223, 230, 233);
  width: 18%;
  padding: 10px;
  display: flex;
  height: 70px;
  align-items: center;
}

.logo-section img {
  width: 60%;
}

.search-section {
  padding: 10px 40px;
  width: 48%;
  align-items: center;
}
.input_box {
  display: flex;
  align-items: center;
  background-color: rgb(245, 246, 250);
  padding: 3px 18px;
  width: 50%;
  border-radius: 25px;
}
.search_icon {
  color: #354453;
}
.input_box > input {
  margin-left: 7px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  border: none;
  color: #354453 !important;
  font-weight: 300;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  padding: 5px;
}
.menu-section{
  display: flex;
  align-items: center;
  width: 34%;
}
.menu_icon{
  /* background-color:rgb(245, 246, 250) ; */
   background: #F6F7F8;
  margin-right: 15px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 10px;
  color: #354453;
}
.profile_css{
  display: flex;align-items: center;justify-content: center;
  margin-left: 15px;
}
.profile_css img{
  width: 50px;
  height: 50px;

}
.name{
  margin-left: 1px;
}

.name p{
  font-weight: 400;
  font-size: 17px;
  color: #354453;
  display: flex;align-items: center;
}

.profile-icon-css{
  margin-left: 10px;
}

.name small{
  letter-spacing: 1px;
  font-weight: 400;
  color: #354453;
}