.header_css {
  background-color: white;
  padding: 0 20px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  /* border-top:.1px solid rgb(223, 230, 233) ; */
  border-bottom: 1px solid rgb(223, 230, 233);
}

.logo-section {
  border-right: 1px solid rgb(223, 230, 233);
  width: 300px !important;
  padding: 10px;
  display: flex;
  height: 70px;
  align-items: center;
}

.logo-section img {
  width: 150px;
}

.search-section {
  padding: 10px 40px;
  width: 550px;
  align-items: center;
}
.input_box {
  display: flex;
  align-items: center;
  background-color: rgb(245, 246, 250);
  padding: 3px 18px;
  width: 80%;
  border-radius: 25px;
}
.search_icon {
  color: #354453;
}
.input_box > input {
  margin-left: 7px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  border: none;
  color: #354453 !important;
  font-weight: 300;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  padding: 5px;
}
.menu-section{
  display: flex;
  align-items: center;
  width: 500px;
}
.menu_icon{
  /* background-color:rgb(245, 246, 250) ; */
   background: #F6F7F8;
  margin-right: 15px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  color: #354453;
}

.menu_icon:hover{
  color: #FF9F43;
}
.badge{
   color:'#354453';
}
.badge:hover{
color: #FF9F43;
}
.profile_css{
  display: flex;
  align-items:
   center;justify-content: center;
  margin-left: 15px;
  width: 180px;
}
.profile_css img{
  width: 50px;
  height: 50px;

}
.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  word-wrap: none;
  align-items: start;
}

.header_css p{
  font-size: 16px;
  display: flex;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
  color: #354453;
  text-transform: capitalize;
}
.name small{
  font-size: 14px;
  text-transform: capitalize; 
  color: #354453;
  font-family: 'Titillium Web', sans-serif;
}

p{
  font-family: 'Titillium Web', sans-serif;
  color: #354453;
  text-transform: capitalize;
}

.logo_responsive{
  display: none;
}
.logo_responsive img{
width: 150px;
}
.dropdown{
  display: none;
  /* background-color: #493420; */
}
.menu_responsive{
  color:#FF9F43;
  display: none;
}

.resp_icon{
  font-size: 30px;
}

/* media queries */

@media screen and (max-width: 1130px) {
  .search-section {
    display: none;
  }
  .logo-section{
    display: none;
  }
  .menu-section{
    display: none;
  }
  .logo_responsive{
    display: block;
  }
  .dropdown{
    display: block;
  }
  .menu_responsive{
    display: block;
  }
}
@media screen and (max-width: 600px){
  .logo_responsive img{
    width: 90px;
    }

    .header_css{
      align-items: center;
      padding: 0 10px;
    }
  }