
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,200&family=Jost:wght@200;300&family=Mooli&family=Roboto:wght@100;300;400;500&family=Titillium+Web:wght@200;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web', sans-serif;
}